may/test_cicd/src/main/mule/test_cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b7b43114-8464-458e-b116-1f5e47c54b4d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="99b1a367-bfee-4810-a0e9-96e62e3367f9" file="dev.properties" />
	<flow name="test_cicdFlow" doc:id="b4007f24-6c75-4c4b-9227-b513860ce9b6" >
		<http:listener doc:name="Listener" doc:id="83c53f78-efd7-481d-81b0-db26cb31635e" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hji"]' doc:name="Set Payload" doc:id="2b74fb37-2499-45d7-bda5-cb6e78628ec0" />
	</flow>
</mule>
